%btn {
   display: inline-block;
   padding: 15px 30px 10px;
   font-weight: 700;
}

.btn-primary {
   @extend %btn;
   border: 1px solid #fff;
   color: #fff;

   &:hover{
      color: $very-dark-violet;
      background: #fff;
   }
}

.btn-secondary{
   @extend %btn;
   border: 1px solid white;
   color: white;
   width: 100%;

}

@media (min-width: 970px) {
   .btn-secondary {
      border: 2px solid $mobile-nav-bg-clr;
      color: $mobile-nav-bg-clr;

      &:hover{
         color: #fff;
         background: $very-dark-violet;
      }
   }
}