$dark-violet: #2d2640;
$rayish-blue: #95a9c6;
$very-dark-violet: #2b272f;
$dark-grayish-violet: #837d87;
$very-light-gray: #fafafa;
$line: #C396C6;
$line2: #DADADA;
$mobile-nav-bg-clr:#2C2830;

//font
$font-heading:'DM Serif Display', serif;
$font-body:'Karla', sans-serif;
$font-xs: 1.3rem;
$font-sm: 1.6rem;
$font-md-sm: 2.0rem;
$font-md: 2.8rem;
$font-lg: 4rem;
$font-xl: 4.8rem;
$font-2x: 5.6rem;
$font-3x: 7.2rem;